@media (max-width: 330px) { 
    .titre-button{
        width: 50%;
        font-size: 12px;
    }
    

   
}

/* // Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) { 
    .titre-button{
        width: 40%;
        height: 70px;
       
    } 
  

.button-about{
    width: 13%;
    height: 70px;
    border: none;
    border-radius: 50%;
    border: 8px solid rgba(128, 128, 128, 0.26);
    background: #ffc800;
    position:relative;
    left: 39%;
    top: -10px;
    font-size: 10px;
}
 
   
  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .titre-button{
        width: 40%;
        height: 70px;
        
    }
  
    .environ-image{
    
        border: 8px solid rgba(128, 128, 128, 0.26);
        width: 200px;
        border-radius: 50%;      
}
.environ-image-1{
    width: 150px;    
}
.environ-image-2{
    width: 100px;    
}
.environ-image-3{
    width: 150px;    
}
.environ-image-4{
    width: 100px;    
}
   
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
   
    .titre-button{
        width: 30%;
        height: 70px;
        
    } 
    
.environ-image-1{
    width: 100px;    
}
.environ-image-2{
    width: 80px;    
}
.environ-image-3{
    width: 100px;    
}
.environ-image-4{
    width: 70px;    
}
   .conform{
    width: 70%;
    margin-left:10px ;
}
  
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .navbar-brand img{
        width: 25%;
        margin-left: 100px;
    }
    .navbar-nav {
        margin-right: 60px;
    }
    .portofolio img{
        width: 400px;
    }
    .portofolio .image-hover{
        width: 405px;
        height: 300px;
    }
    .conform{
        width: 70%;
        margin-left:130px ;
    }
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .navbar-brand img{
        width: 25%;
        margin-left: 100px;
    }
    .navbar-nav {
        margin-right: 60px;
    }
    .portofolio img{
        width: 450px;
    }
    .portofolio .image-hover{
        width: 450px;
        height: 300px;
    }

    .conform{
        width: 70%;
        margin-left:130px ;
    }
 }